{% extends 'base.html.twig' %}

{% block title %}Edit Job{% endblock %}

{% block body %}
    <h1>Edit Job</h1>

    {{ include('backoffice/job/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backoffice_job_index') }}">back to list</a>

    {{ include('backoffice/job/_delete_form.html.twig') }}
{% endblock %}
